<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include("partials/styleTags")%>
    <script src="/index.js" defer></script>
    <title>Ryan Whitehead</title>
  </head>
  <body class="">
    <div class="flex-row container-fluid">
        <%- include("partials/navbar")%>
        <div class="row max-width mx-auto px3 ltr">
            <hr />
            <p class="c4"><span class="c5">WORK EXPERIENCE</span></p>
            <p class="c4">
            <span class="c8">BYUI Business Solutions</span><span class="c3">&nbsp;- </span
            ><span class="c7 c3">Systems Developer</span>
            </p>
            <p class="c4"><span class="c7 c3">Nov 2022 - Present</span></p>
            <ul class="c6 lst-kix_ugk23x7x6az3-0 start">
                <li class="c0 li-bullet-0">
                <span class="c3 c9">Spring and Node backend</span
                ><span class="c2"
                >&nbsp;within a team of developers to create and maintain processes and
                websites that facilitate the automation and distribution of data for
                Brigham Young University-Idaho.</span
                >
                </li>
                <li class="c0 li-bullet-0">
                <span class="c3">Created grievance</span
                ><span class="c2"
                >/complaint system that maintains the accreditation of BYU-Idaho which is
                used daily by BYUI and Pathway students.</span
                >
                </li>
                <li class="c0 li-bullet-0">
                <span class="c2"
                >Streamlined a QA process through Node.js full stack development of a QA
                website to cut costs from over $35 per QA to an average of less than a
                tenth that original price thanks to industry standard REST API
                construction and agile-style sprint updates.</span
                >
                </li>
                <li class="c0 li-bullet-0">
                <span class="c2"
                >Full stack development of backend configs page. Allows email template
                imports, data tag changes, and automatic employee permission setting
                updates for over 9 months and is currently active and used daily by school
                administrators.</span
                >
                </li>
            </ul>
            <p class="c4 c10"><span class="c2"></span></p>
            <p class="c4">
            <span class="c8">Idaho Falls School District 91 IT</span
            ><span class="c3">&nbsp;- </span><span class="c3 c9">Summer</span
            ><span class="c3">&nbsp;</span><span class="c7 c3">Network Technician</span>
            </p>
            <p class="c4"><span class="c7 c3">Jun 2022–Sept 2022</span></p>
            <ul class="c6 lst-kix_6vctsx5pv2sf-0 start">
                <li class="c0 li-bullet-0">
                <span class="c2"
                >Installed server racks, wired door sensors and camera security
                systems</span>
                </li>
                <li class="c0 li-bullet-0">
                <span class="c2"
                >Built network infrastructure while working within the 19 schools in the Idaho Falls 91 area.</span>
                </li>
            </ul>
            <hr />
            <p class="c4"><span class="c5">EDUCATION</span></p>
            <p class="c4">
            <span class="c8">Brigham Young University-Idaho</span>
            <span class="c2"
            >&nbsp;- B.S., Computer Engineering</span
            >
            </p>
            <p class="c4"><span class="c7 c3">2021 - Expected Graduation 2025</span></p>
            <ul class="c6 lst-kix_oob5uewuqwyf-0 start">
                <li class="c0 li-bullet-0"><span class="c2">3.75 GPA</span></li>
                <li class="c0 li-bullet-0"><span class="c2">75 of 120 credits</span></li>
            </ul>
            <p class="c4">
                <span class="c8">Windsor High School</span>
            </p>
            <p class="c4"><span class="c3 c7">2015 - 2019</span></p>
            <ul class="c6 lst-kix_8bvqq7uskntw-0 start">
                <li class="c0 li-bullet-0"><span class="c2">3.8 GPA</span></li>
            </ul>
            <hr />
            <table class="c13">
                <tbody>
                    <tr class="">   
                        <td class="c11" colspan="1" rowspan="1">
                            <p class="c4"><span class="c5">LANGUAGES</span></p>
                            <ul class="c6 lst-kix_u7nyjnhqnn0k-0 start">
                                <li class="c0 li-bullet-0"><span class="c2">Java</span></li>
                                <li class="c0 li-bullet-0"><span class="c2">C#</span></li>
                                <li class="c0 li-bullet-0">
                                <span class="c2">JavaScript/TypeScript</span>
                                </li>
                                <li class="c0 li-bullet-0"><span class="c2">Python</span></li>
                                <li class="c0 li-bullet-0"><span class="c2">Golang</span></li>
                                <li class="c0 li-bullet-0"><span class="c2">Rust</span></li>
                                <li class="c0 li-bullet-0"><span class="c2">C, C++</span></li>
                            </ul>
                        </td>
                        <td class="c11" colspan="1" rowspan="1">
                            <p class="c4"><span class="c5">SKILLS</span></p>
                            <ul class="c6 lst-kix_x4nv2gyciy5-0 start">
                                <li class="c0 li-bullet-0">
                                <span class="c2">REST Web Services</span>
                                </li>
                                <li class="c0 li-bullet-0"><span class="c2">AWS</span></li>
                                <li class="c0 li-bullet-0"><span class="c2">SQL</span></li>
                                <li class="c0 li-bullet-0">
                                <span class="c2">Node.js (4+ years)</span>
                                </li>
                                <li class="c0 li-bullet-0"><span class="c2">Django</span></li>
                                <li class="c0 li-bullet-0"><span class="c2">Spring</span></li>
                                <li class="c0 li-bullet-0"><span class="c2">SystemVerilog</span></li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
            <hr> 
        </div>
        <div class="col-md-2 index-btn-group me-3">
            <%- include("partials/contributions")%>
        </div>
    </div>
  </body>
</html>