<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include("partials/styleTags")%>
    <script src="/index.js" defer></script>
    <title>Ryan Whitehead</title>
  </head>
  <body>
    <div class="flex-row container-fluid">
      <%- include("partials/navbar")%>
      <br/>
      <div class="col-md m-1 ms-2 me-0">
        <body class="c18 doc-content">
          <p class="c8">
              <span class="c7">WORK</span>
          </p>
          <ul class="c6 lst-kix_oca918bz0u82-0 start">
              <li class="c0 li-bullet-0">
                  <span class="c1">BYUI Student Support Center</span>
              </li>
          </ul>
          <p class="c3">
              <span class="c15 c2">Systems Developer, Nov 01 2022 - Present</span>
          </p>
          <p class="c3">
              <span class="c2">Spring and Node backend</span>
              <span class="c1">within a team of developers to create and maintain processes and websites that facilitate the collection, automation and distribution of data for the Brigham Young University Idaho Student Center which handles nearly the entire volume of incoming messages to BYUI.</span>
          </p>
          <p class="c3">
              <span class="c1">I have personally created processes that maintain the accreditation of BYUI. Responsible for the streamlining of a QA process through a QA website that cut costs from 50$ per QA to less than a tenth that original price thanks to industry standard REST API construction and strong data-driven corrections to our system over time.</span>
          </p>
          <ul class="c6 lst-kix_q0egzuk3wyz4-0 start">
              <li class="c0 li-bullet-0">
                  <span class="c1">Idaho Falls School District 91 - Information Technology</span>
              </li>
          </ul>
          <p class="c3">
              <span class="c15 c2">Network Technician, Jul 04 2022 - Sept 15 2022</span>
          </p>
          <p class="c3">
              <span class="c1">Installed server racks, wired door sensors and security systems, built automations for school district needs.</span>
          </p>
          <hr>
          <p class="c8 c10">
              <span class="c1"></span>
          </p>
          <p class="c8">
              <span class="c7">EDUCATION</span>
          </p>
          <ul class="c6 lst-kix_45cq4bj8zuk0-0 start">
              <li class="c0 li-bullet-0">
                  <span class="c1">Brigham Young University-Idaho - 2021 - Expected Graduation 2025</span>
              </li>
          </ul>
          <p class="c3">
              <span class="c1">Bachelors of Science in Computer Engineering</span>
          </p>
          <p class="c3">
              <span class="c1">3.75 GPA</span>
          </p>
          <p class="c3">
              <span class="c1">72 of 120 credits</span>
          </p>
          <ul class="c6 lst-kix_ecntyfgme8k2-0 start">
              <li class="c0 li-bullet-0">
                  <span class="c1">Windsor High School - 2015-2019</span>
              </li>
          </ul>
          <p class="c8 c9">
              <span class="c1">3.8 GPA</span>
          </p>
          <hr>
          <p class="c8 c10">
              <span class="c1"></span>
          </p>
          <p class="c8">
              <span class="c7">TOOLS &amp;SKILLS</span>
          </p>
          <a id="t.321d8ab4cb6928cf9627bb72d9b984fad9c1cd9b"></a>
          <a id="t.0"></a>
          <table class="c13">
              <tr class="c17">
                  <td class="c5" colspan="1" rowspan="1">
                      <ul class="c6 lst-kix_5khl6hdhy7g-0 start">
                          <li class="c0 li-bullet-0">
                              <span class="c1">Node.js (4+ years)</span>
                          </li>
                          <li class="c0 li-bullet-0">
                              <span class="c1">Django</span>
                          </li>
                          <li class="c0 li-bullet-0">
                              <span class="c1">Spring Boot for Java</span>
                          </li>
                          <li class="c0 li-bullet-0">
                              <span class="c1">ARM, x86, Ghidra</span>
                          </li>
                          <li class="c0 li-bullet-0">
                              <span class="c1">C, C++, C#</span>
                          </li>
                          <li class="c0 li-bullet-0">
                              <span class="c1">SystemVerilog</span>
                          </li>
                      </ul>
                  </td>
                  <td class="c5" colspan="1" rowspan="1">
                      <ul class="c6 lst-kix_vli59z6xjjur-0 start">
                          <li class="c0 li-bullet-0">
                              <span class="c1">REST Web Services</span>
                          </li>
                          <li class="c0 li-bullet-0">
                              <span class="c1">Amazon EC2</span>
                          </li>
                          <li class="c0 li-bullet-0">
                              <span class="c1">SQL</span>
                          </li>
                          <li class="c0 li-bullet-0">
                              <span class="c1">Vue, React</span>
                          </li>
                          <li class="c0 li-bullet-0">
                              <span class="c1">Rust</span>
                          </li>
                          <li class="c0 li-bullet-0">
                              <span class="c1">Android/iOS App Development</span>
                          </li>
                      </ul>
                  </td>
              </tr>
          </table>
          <hr>
        </body>  
      </div>

      <div class="col-md-2 index-btn-group me-3">
          <%- include("partials/contributions")%>
      </div>
    </div>
  </body>
</html>