<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Gradient Maker</title>
	<%- include("partials/styleTags"); %>
        <link rel="stylesheet" href="/gradient-kit/style.css">
        <script src="/gradient-kit/main.js" defer></script>
    </head>
    <body class="bg-dark">
        
        <div class="container">
            <div class="row m-3">

            </div>
            <div class="row">
                <div class="col-auto">
                    <div class="row">
                        <div id="key">
                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                <input type="radio" id="red-key" name="colors" value="red" checked>
                                <label for="red-key"></label>
                                <input type="radio" id="green-key" name="colors" value="green">
                                <label for="green-key"></label>
                                <input type="radio" id="blue-key" name="colors" value="blue">
                                <label for="blue-key"></label>
                            </div>
                        </div>
                        <div class="col">
                            <canvas id="canvas-1"></canvas>
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col">
                            <canvas id="canvas-2"></canvas>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-1">
                            <div id="color-debug" style="width:25px;height:25px;border:3px solid #626262;"></div>
                        </div>
                        <div class="col">
                            <button class="btn btn-sm btn-secondary" id="reset">Reset</button>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm">
                            <div class="row">
                                <span>
                                    <h3>Gradient Maker</h3>
                                    <ul>
                                        <li>Click to add points</li>
                                        <li>Click and drag</li>
                                        <li>Upload your own photos</li>
                                        <li>TODO polynomial interpolation</li>
                                      </ul>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="row mb-3">
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    <canvas width="500" height="500" class="mb-2" id="img-canvas" hidden></canvas><br>
                                    <canvas width="500" height="500" class="mb-2" id="proc-canvas"></canvas>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm">
                                    <button class="btn btn-info btn-sm mb-2" id="trigger">Apply Colormap</button>
                                </div>
                                <div class="col-sm">
                                    <a class="btn btn-secondary btn-sm" id="save">Save Image</a>
                                </div>  
                                <div class="col-sm">
                                    <input style="width:min-content;" class="form-control form-control-sm" type="file" id="formFile" accept="image/*">
                                </div>                          
                            </div>
                            <img id="formImg" src="" hidden></img>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
