<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include("partials/styleTags")%>
    <link rel="stylesheet" href="/movies/style.css">
    <script src="/index.js" defer></script>
    <title>Movie Connections</title>
  </head>
  <body class="max-width mx-auto px3 ltr">
    <%- include("partials/navbar")%>
      <div class="row container-fluid">
        <div class="col-2">
          <div id="scoreboard" class="text-center"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16"><path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/></svg></div>
          <h4 id="hintText" class="card" hidden><p class="card-text content-fit">One Off!</p></h4>
        </div>
        <div class="col mt-1 text-center">
          <div class="container" id="movies-div">
            <div class="d-flex" id="row-0">
              <div id="spot-1" class="card movie-card"></div>
              <div id="spot-2" class="card movie-card"></div>
              <div id="spot-3" class="card movie-card"></div>
            </div>
            <div class="d-flex" id="row-1">
              <div id="spot-4" class="card movie-card"></div>
              <div id="spot-5" class="card movie-card"></div>
              <div id="spot-6" class="card movie-card"></div>
            </div>
            <div class="d-flex" id="row-2">
              <div id="spot-7" class="card movie-card"></div>
              <div id="spot-8" class="card movie-card"></div>
              <div id="spot-9" class="card movie-card"></div>
            </div>
          </div>
        </div>
    </div>
    <div class="popup" id="popup" hidden>
      <div class="popup-content d-flex">
        <div class="col" id="image-container">
          <h2 id="actor-name"></h2>
        </div>
        <div class="col">
          <p id="actor-overview"></p>
        </div>
      </div>
    </div>
    <div class="popup" id="results-popup" hidden>
      <div class="popup-content d-flex">
        <div class="col d-flex" id="card-container">
          <div id="actor-img-1" class="card empty-card"></div>
          <div id="actor-img-2" class="card empty-card"></div>
          <div id="actor-img-3" class="card empty-card"></div>
        </div>
        
        <div class="col p-5">
          <h1 class="display-1" id="final-score"></h1>
          <p id="result-overview"></p>
          <a href="."><button class="dot"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-repeat" viewBox="0 0 16 16">
            <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41m-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9"/>
            <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5 5 0 0 0 8 3M3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9z"/>
          </svg></button></a>
          <button id="share-button" class="dot"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-share" viewBox="0 0 16 16">
            <path d="M13.5 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.5 2.5 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5m-8.5 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3m11 5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3"/>
          </svg></button>
        </div>
      </div>
    </div>
  </body>
	<script src="/movies/index.js" defer></script>
</html>