<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include("partials/styleTags")%>
    <script src="/index.js" defer></script>
    <title>Ryan Whitehead</title>
  </head>
  <body class="">
    <div class="flex-row container-fluid">
        <%- include("partials/navbar")%>
        <div class="row max-width mx-auto px3 ltr">
            <p class="c8">
                <span class="c7">QA SITE - BYUI Support Center</span>
            </p>
            <p class="c3">
                <span class="c2">Fullstack Development - </span>
                <span class="c1">This video showcases the QA Site with various features built and developed by myself. The site allows Quality Assurance Agents to easily find, review, process and log university contacts.</span>
                </br>
                <a  class="out" href="https://bsc-qa-v2.herokuapp.com/login">Site Link</a>
            </p>
            <div class="col-md m-1 ms-2 me-0">
                <video width="720" height="405" autoplay muted loop>
                    <source src="/videos/qasite.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <br/><br/><hr>
            <p class="c8">
                <span class="c7">PANCAKE PRINTER - EMBEDDED SYSTEMS</span>
            </p>
            <p class="c3">
                <span class="c2">Hardware/Software Development - </span>
                <span class="c1">Showcasing a star design pancake printed by an early version of my group of 3's 'pancake printer', designed to convert SD card gcode imports to precise physical movements. Built using STM32 Nucelo Board and a CNC shield controlling Nema 17 Stepper Motors powered w/ 24V DC power supply. Utilizing a servor to act as our extrusion valve control.</span>
                </br>
                <a  class="out" href="https://docs.google.com/presentation/d/1LroqGgRm4LpgiiQK-B--T43jA3nXSIX1/edit?usp=sharing&ouid=111138976619716113722&rtpof=true&sd=true&usp=embed_facebook">Project Presentation</a>
            </p>
            <div class="col-md m-1 ms-2 me-0">
                <video width="720" height="405" autoplay muted loop>
                    <source src="/videos/star3.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
        

        <div class="col-md-2 index-btn-group me-3">
            <%- include("partials/contributions")%>
        </div>
    </div>
  </body>
</html>