<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include("partials/styleTags")%>
    <script src="/index.js" defer></script>
    <title>Ryan Whitehead</title>
  </head>
  <body class="">
    <div class="flex-row container-fluid">
        <%- include("partials/navbar")%>
        <div class="row max-width mx-auto px3 ltr">
            <p class="c8">
              <span class="c7">ACTIVE PROJECTS</span>
            </p>
            <ul class="c6 lst-kix_q0egzuk3wyz4-0 start">
                <li class="c0 li-bullet-0">
                    <span class="c1">Online 2D RPG</span>
                    <a class="out" href="http://lyssie.org">websocket based real time multiplayer game</a>
                </li>
                <br/>
                <li class="c0 li-bullet-0">
                  <span class="c1">Unicorn Game</span>
                  <a class="out" href="/breakroom">"Jetpack Joyride" clone with all time and weekly high scores</a>
              </li>
            </ul>
        </div>

        <div class="col-md-2 index-btn-group me-3">
            <%- include("partials/contributions")%>
        </div>
    </div>
  </body>
</html>