<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include("partials/styleTags")%>
    <script src="/index.js" defer></script>
    <title>Ryan Whitehead</title>
  </head>
  <body>
    <%- include("partials/navbar")%>
    <br />
      <div class="flex-row container-fluid">
        <div class="col-md-2 index-btn-group mt-1">
          
          <div class="row">
          </div>
        </div>

        <div class="col-md m-1 ms-2 me-0">
          <span>Main Projects Space</span>
        </div>

        <div class="col-md-2 index-btn-group me-3">
            <%- include("partials/contributions")%>
        </div>
    </div>
  </body>
</html>