<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include("partials/styleTags")%>
    <script src="/index.js" defer></script>
    <title>Ryan Whitehead</title>
  </head>
  <body class="">
    <div class="flex-row container-fluid">
        <%- include("partials/navbar")%>
        <div class="row max-width mx-auto px3 ltr">
            <p class="c8">
              <span class="c7">ACTIVE PROJECTS</span>
            </p>
            <ul class="c6 lst-kix_q0egzuk3wyz4-0 start">
              <li class="c0 li-bullet-0">
                <a class="out" href="http://lyssie.org" target="_blank">Online 2D RPG</a>
                <span class="">websocket based real time multiplayer game</span>
              </li>
              <br/>
              <li class="c0 li-bullet-0">
                <a class="out" href="/breakroom">Unicorn Game</a>
                <span class="">"Jetpack Joyride" clone with all time and weekly high scores</span>                
              </li>
              <br/>
              <li class="c0 li-bullet-0">
                <a class="out" href="/music">Piano Keys</a>
                <span class="">"keyboard" playable browser piano for all composition needs</span>               
              </li>
              <br/>
              <li class="c0 li-bullet-0">
                <a class="out" href="https://github.com/ryebread9001/portfolio-webapp">This website</a>
                <span class="">is built and maintained by myself on an Amazon Lightsail Linux instance running Apache, using MongoDB and Nodejs.</span>
              </li>
            </ul>
        </div>

        <div class="col-md-2 index-btn-group me-3">
            <%- include("partials/contributions")%>
        </div>
    </div>
  </body>
</html>