<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include("partials/styleTags")%>
    <script src="/index.js" defer></script>
    <title>Ryan Whitehead</title>
  </head>
  <body>
    <div class="flex-row container-fluid">
        <%- include("partials/navbar")%>
        <br />

        <div class="col-md m-1 ms-2 me-0">
            <span>Under Construction</span></br>
            <ul class="c6 lst-kix_q0egzuk3wyz4-0 start">
                <li class="c0 li-bullet-0">
                    <span class="c1">Online 2D RPG</span>
                    <a class="out" href="http://lyssie.org">Websocket based real time multiplayer game</a>
                </li>
                <li class="c0 li-bullet-0">
                  <span class="c1">Unicorn Game</span>
                  <a class="out" href="/breakroom">"Jetpack Joyride" clone with all time and weekly high scores</a>
              </li>
            </ul>
        </div>

        <div class="col-md-2 index-btn-group me-3">
            <%- include("partials/contributions")%>
        </div>
    </div>
  </body>
</html>