body {
  padding: 50px;
  font: 14px monospace;
  background-color: #1d1d20;
  color:aliceblue;
}

a {
  text-decoration: none;
  color: inherit;
}

.out {
  color:rgb(122, 255, 255);
}

.menu-link {
  padding: 0 1.3vw;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}


.roller{
  height: 2rem;
  position: relative;
  overflow: hidden; 
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.roller #rolltext {
  position: absolute;
  top: 0;
  animation: slide 5s infinite;  
}

@media screen and (max-width: 1250px) {
  .roller #rolltext {
      display: none !important;
  }
}

@keyframes slide {
  0%{
    top:0;
  }
  33%{
    top: -2rem;    
  }
  55%{
    top: -4rem;
  }
}

.c9 {
  font-style: italic;
}

.c8 {
  font-weight: bold;
}

.c5 {
  font-size: larger;
}

.c1 {
  font-size: xx-large;
}

ul.c6{
  list-style-position: inside;
  margin-left: 10%;
  max-width: fit-content;
}

.px3 {
  padding-right: 2rem;
  padding-left: 2rem;
}
.mx-auto {
  margin-right: auto;
  margin-left: auto;
}
